---
import Layout from "../../../layouts/Layout.astro";
import { PersonnesProfessionOptions } from "../../../pocketbase-typegen";

export const prerender = false;

const pb = Astro.locals.pb;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const personne = await pb.collection("Personnes").create(data);

  return Astro.redirect(`/personnes/${personne.id}-${personne.nom}`);
}
---

<Layout pageTitle="Edit personne">
  <h1>Edit personne</h1>

  <form class="*:content grid grid-cols-2" method="post">
    <label
      >Prénom
      <input type="text" name="prenom" />
    </label>

    <label
      >Nom
      <input type="text" name="nom" />
    </label>

    <label
      >Date de Naissance
      <input type="date" name="dateNaissance" />
    </label>

    <label
      >Lieu de Naissance
      <input type="text" name="lieuNaissance" />
    </label>

    <label
      >Date de Décès
      <input type="date" name="dateDeces" />
    </label>

    <label
      >Nationalité
      <select name="nationalite">
        <option>FR</option>
        <option>US</option>
        <option>UK</option>
        <option>CA</option>
      </select>
    </label>
    
    <label
      >Profession
      <select name="profession">
        {Object.entries(PersonnesProfessionOptions).map(([key, value]) => (
          <option value={key}>{value}</option>
        ))}
      </select>
    </label>

    <button>Envoyer</button>
  </form>
</Layout>
